* text=auto eol=lf

*.gd text eol=lf
*.godot text eol=lf
*.tres text eol=lf
*.tscn text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.wav binary
*.ogg binary
*.ttf binary
*.woff2 binary
